<ion-content>
  <swiper class="swiper-welcome" #swiper [config]="config" (slideChange)="swiperSlideChanged($event)"
    (reachEnd)="onLastSlide()">
    <ng-template swiperSlide>
      <ion-icon name="clipboard-outline" class="animate__animated animate__fadeInDown"></ion-icon>
      <h3 class="animate__animated animate__fadeInUp">Fast, Personalized & Convenient Crime Reports</h3>
      <p class="animate__animated animate__fadeInUp">Submitting reports has never been this easier. You can categorize and submit your report in no time</p>
    </ng-template>
    <ng-template swiperSlide>
      <ion-icon name="sync"></ion-icon>
      <h3>Real Time Update & Notifications</h3>
      <p>Get real time updates and Notification of your report's progress.</p>
    </ng-template>
    <ng-template swiperSlide>
      <ion-icon name="stats-chart"></ion-icon>
      <h3>Crime Analysis, News & Tips</h3>
      <p>Analyse criminal activities in your area and get tips on how to stay safe and well protected</p>
    </ng-template>
  </swiper>
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp">
  <ion-button class="ion-margin" expand="block" (click)="nextSlide()" *ngIf="!last_slide">
    Next
  </ion-button>
  <ion-button class="ion-margin" expand="block" (click)="getStarted()" *ngIf="last_slide">
    Get started
  </ion-button>
</ion-footer>
